
#忽略所有的文件 只追踪指定文件夹
/*

#只追踪 Assets 和 ProjectSettings
!/Assets
!/ProjectSettings

#Xlua 文件夹
!/build
!/General
!/Tools
!/WebGLPlugins

#只追踪 UnityPackages&Dll
!/UnityPackages&Dll
!/Export
!/Localization
!/Test